# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
    *         @jyma1 @Ea-sonT @Yinliqi @joao-pamper @luismjr @sheldonece301
